<style>
    body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
<div class="container-menu">
    <div class="containerTable">
        <table class="table">
            <tr class="thead-dark">
                <th>Tabelas</th>
            </tr>
            <tr>
                <td><a href="/cidade">
                        <div style="height:100%;width:100%">Cidade</div>
                    </a></td>
            </tr>
            <tr>
                <td><a href="/funcionario">
                        <div style="height:100%;width:100%">Funcionário</div>
                    </a></td>
            </tr>
            <tr>
                <td><a href="/onibus">
                        <div style="height:100%;width:100%">Ônibus</div>
                    </a></td>
            </tr>
            <tr>
                <td><a href="/rota">
                        <div style="height:100%;width:100%">Rota</div>
                    </a></td>
            </tr>
        </table>
    </div>
</div>